<!DOCTYPE html>
<html>
	<head>
		<title>User Details</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<form action="/postTask" method="POST">
			<div class="container">
				<label>Description</label>
				<input
					type="text"
					class="form-control"
					id="description"
					name="description"
					placeholder="Task escription"
					value="description"
				/>
				<br />
				<label>Completed</label>
				<br />
				<input type="radio" id="true" name="completed" value="True" />
				<label>True</label><br />
				<input type="radio" id="false" name="completed" value="False" />
				<label>False</label><br />
				<br />
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</body>
</html>
Î
